<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ candidate.name }}</title>
</head>
<body>
    {% if 'not_found' in candidate.keys() %}
        <h1>{{ candidate.not_found }}</h1>
    {% else %}
        <h1>{{ candidate.name }}</h1>
        <p><strong>Позиция </strong>{{ candidate.position }}</p>
        <img src="{{ candidate.picture }}">
        <p><em>Навыки </em>{{ candidate.skills }}</p>
    {% endif %}
</body>
</html>